@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit
}

p {
    padding: 2.5vh;
    justify-content: left;
}

:root {
    --bg-body: #8dabd3;
    --bg-header-footer: #a9afb7;
    --border-header-footer: 2px solid black;
}

.imageContainer {
    background-color: white;
}

#resume-image:hover {
    opacity: 70%
}

#headshot {
    margin: 10px;
    height: auto;
    width: 300px;
    max-width: 100%;
    max-height: 300px;
    box-shadow: 0px 10px 10px 0px var(--HeaderColor);
}

a,
button {
    transition: all .3s ease;
}

html {
    font-size: clamp(12px, 1.5vw + 3px, 18px);
}

#aboutMe {
    background-color: white;
    border: var(--border-header-footer)
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--bg-body);
    padding-bottom: 4em;
}

header,
footer {
    display: flex;
    align-items: center;


    border-bottom: var(--border-header-footer);
    background-color: var(--bg-header-footer);
}

header {
    justify-content: space-between;
    height: 60px;
    padding: 1em;
}

header h1 {
    text-transform: uppercase;
}

header h1 span {
    font-weight: bold;
}

header nav {
    display: flex;
    gap: .25em;
    font-size: 1.2rem;
}

header nav a {
    --padding: 0.5em;
    position: relative;
    padding: var(--padding)
}

header nav a::after {
    content: "";
    position: absolute;
    inset: auto var(--padding) calc(var(--padding) * 0.8);

    height: 1px;
    background-color: black;

    scale: 0 1;
    transition: inherit;
}

header nav a:hover::after {
    scale: 1 1;
}

.row {
    margin-top: 0;
    justify-content: center;
}

.card {
    margin-left: .3em;
    margin-right: .3em;
    padding-top: .5em;
}

.container {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-body {
    justify-content: center;
}

.btn {
    align-items: center;
    bottom: 0;
    /* background-color: var(--bg-body); */
    margin-bottom: .5em;
}

.projectLinks {
    display: flex;
}


footer {
    display: flex;
    border-top: var(--border-header-footer);
    background-color: var(--bg-header-footer);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 35px;
    gap: 1em;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: .25em;
}

footer a {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 1.3rem;
}

footer a:hover {
    scale: 1.2;
}